@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --headerHeight: 60px;
    --sidebarWidth: 250px;

    --teal: #00c5c0;
    --lightGray: #e0e0e0;
    --blue: #0000ff;
    --lightBlue: #4747e6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-weight: 300;
    min-height: 100vh;
}

#root{
    min-height: 100vh;
}

header{
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--teal);
    color: #fff;
    position: relative;
}

aside{
    position: absolute;
    left: 0;
    bottom: 0;
    top: var(--headerHeight);
    width: var(--sidebarWidth);
    background-color: var(--lightGray);
    transition: all 200ms ease-out;
    z-index: 99;
}

#canvas-container{
    position: absolute;
    left: var(--sidebarWidth);
    top: var(--headerHeight);
    bottom: 0;
    right: 0;
}

button{
    color: #fff;
    text-align: center;
    background-color: var(--blue);
    border: 0;
    transition: all 200ms ease;
    cursor: pointer;
}

button:hover{
    background-color: var(--lightBlue);
}

button.big{
    padding: 10px 20px;
    font-size: 14px;
}

button.small{
    padding: 8px 10px;
    font-size: 12px;
}

#file-input-container{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

#file-data-container{
    padding: 20px;
}

.file-data-rows{
    margin-bottom: 20px;
}

.file-data-rows label{
    font-weight: bold;
    margin-right: 5px;
}

canvas img{
    display: none;
}

.file-data-rows input[type="text"]{
    border-radius: 5px;
    border: 1px solid #000;
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    width: 50px;
}

.file-upload-button{
    position: relative;
}

input[type="file"] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.file-data-rows button{
    display: inline-block;
    margin-left: 5px;
}

canvas{
    width: 100%;
    height: 100%;
}

#timer {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: lighter;
}

.toggle-sidebar{
    position: absolute;
    cursor: pointer;
    left: 10px;
    display: none;
}

.toggle-sidebar span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

.toggle-sidebar[opened='true'] span {
    opacity: 1;
    transform: rotate(45deg) translate(-8px, -12px);
    background: #232323;
}

.toggle-sidebar[opened='true'] span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.toggle-sidebar[opened='true'] span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-6px, 13px);
}

.toggle-sidebar span:first-child {
    transform-origin: 0% 0%;
}

.toggle-sidebar span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

@media all and (max-width: 580px) {
    aside, side[opened='false']{
        left: -250px;
    }

    #canvas-container{
        left: 0;
    }

    aside[opened='true']{
        left: 0;
    }

    header{
        justify-content: center;
        padding-left: 0;
    }

    .toggle-sidebar{
        display: block;
    }

}

@media all and (max-width: 305px) {
    .switch-theme{
        display: none;
    }
}
/* Below lines are just for fun ;) */

.switch-theme{
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    right: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    animation: pulse 2s infinite;
}

.fancy{
    font-family: 'Roboto', sans-serif;
}

.fancy header{
    box-shadow: 0 4px 12px -6px #c4c4c4;
    background-color: #fff;
    color: #333
}

#accenture-logo{
    max-height: 60%;
}

.fancy aside{
    background-color: #F2F2F2;
    box-shadow: 0 4px 12px -6px #c4c4c4;
}

.fancy #file-input-container{
    border-bottom: 1px solid #ddd;
}

.fancy .file-data-rows label{
    font-weight: 500;
}

.fancy button {
    background-color: black;
    font-weight: 300;
    border-radius: 5px;
}

.fancy button:hover{
    background: #333;
}

.fancy input[type="text"]{
    border: none;
    border-bottom: 2px solid #C4C4C4;
    text-align: center;
}

.fancy input[type="text"]:active, .fancy input[type="text"]:focus {
    border-bottom: 2px solid #be03ff;
    outline: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}